/* -------- Base -------- */

body {
	background: #f3f2e7 url(../images/body_bg.png) repeat-y center;
}

body.blue {
	background: #e7ebf3 url(../images/blue/body_bg.png) repeat-y center;
}

body.green {
	background: #daf1e9 url(../images/green/body_bg.png) repeat-y center;
}

body.red {
	background: #d4c0b2 url(../images/red/body_bg.png) repeat-y center;
}

/* -------- Wrapper -------- */

#wrapper {
	margin: 0 auto;
	width: 880px;
}

/* -------- Logo -------- */

.logo {
	font: 48px Impact, Charcoal, sans-serif;
	letter-spacing: 0.05em;
	line-height: 48px;
	padding: 10px;
}

.logo a {
	color: #ffcf40;
	text-decoration: none;
}

.blue .logo a {
	color: #409fff;
}

.green .logo a {
	color: #19e359;
}

.red .logo a {
	color: #99372e;
}

/* -------- Navigation -------- */

#navigation {
	background: #ffdc73 url(../images/navigation_bg.png);
	height: 48px;
}

.blue #navigation {
	background: #73b9ff url(../images/blue/navigation_bg.png);
}

.green #navigation {
	background: #49fe8c url(../images/green/navigation_bg.png);
}

.red #navigation {
	background: #fe4e3e url(../images/red/navigation_bg.png);
}

#navigation ul {
	padding: 0 25px;
}

#navigation li {
	float: left;
	list-style-type: none;
	margin: 0;
}

#navigation a {
	color: #444;
	display: block;
	float: left;
	font-size: 11px;
	font-weight: bold;
	line-height: 34px;
	padding: 7px 25px;
	text-decoration: none;
}

.red #navigation a {
	color: #FFF;
}

#navigation a:hover {
	color: #000;
}

.red #navigation a:hover {
	color: #FF9;
}

#navigation a.selected {
	background: #4c92d9 url(../images/navigation_selected_bg.png);
	color: #FFF;
}

.green #navigation a.selected {
	background: #288243 url(../images/green/navigation_selected_bg.png) center;
	color: #FFF;
}

.red #navigation a.selected {
	background: #7d231b url(../images/red/navigation_selected_bg.png) center;
	color: #FFF;
}

/* -------- Content-Wrapper -------- */

#content-wrapper {
	color: #333;
	font-size: 10px;
	padding: 10px;
}

#content-wrapper a {
	color: #297acc;
	text-decoration: none;
}

#content-wrapper a:hover {
	color: #1f5c99;
	text-decoration: underline;
}

/* -------- Sub-Navigation -------- */

#sub-navigation {
	height: 20px;
}

#navigation-breadcrumb {
	float: left;
}

#navigation-children {
	float: right;
}

#navigation-children ul {
	float: right;
	padding: 0;
}

#navigation-children li {
	float: left;
	list-style-type: none;
}

#navigation-children a.selected {
	text-decoration: underline;
}

#footer {
	padding: 10px;
}

/* -------- Color Schemes -------- */

#color-schemes ul {
	height: 2.5em;
	padding: 0;
}

#color-schemes li {
	float: left;
	line-height: 1.5em;
	list-style-type: none;
	margin: 0;
	padding: 0 1em 0 0;
}

#color-schemes a.selected {
	text-decoration: underline;
}