<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>

<head>
<title>##SITE-NAME## | ##NAME##</title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<link rel="stylesheet" href="../css/reset.css" type="text/css" media="screen" title="Stylesheet" charset="utf-8">
<link rel="stylesheet" href="../css/theme.css" type="text/css" media="screen" title="Stylesheet" charset="utf-8">
<link rel="stylesheet" href="../css/theme-##color-scheme##.css" type="text/css" media="screen" title="Stylesheet" charset="utf-8">
</head>

<body class="##COLOR-SCHEME##">  
<div id="wrapper">
	<div id="banner">
		<h1 class="logo">
			<a href="./"><span><!-- BEGIN:SITE-NAME -->Template<!-- END:SITE-NAME --></span></a>
		</h1>
	</div>
	<div id="navigation">
		<!-- BEGIN:NAVIGATION-LEVEL-1 -->
		<ul class="level-1">
			<li class="selected current" class="level-1">
				<a class="selected current" href="javascript:;">Latest news</a>
			</li>
			<li class="level-1">
				<a href="javascript:;">What it is</a>
			</li>
			<li class="level-1">
				<a href="javascript:;">How to use</a>
			</li>
			<li class="level-1">
				<a href="javascript:;">Get it now</a>
			</li>
		</ul>
		<!-- END:NAVIGATION-LEVEL-1 -->
	</div>
	<div id="content-wrapper">
		<div id="sub-navigation">
			<div id="navigation-breadcrumb">
				<!-- NAVIGATION-BREADCRUMB -->
			</div>
			<div id="navigation-children">
				<!-- NAVIGATION-LEVEL-2 -->
			</div>
		</div>
		<div id="content">
			<!-- BEGIN:CONTENT -->
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<!-- END:CONTENT -->
		</div>
	</div>
	<div id="footer">
		This site was created using <a href="http://cms.thewikies.com/">CMS.txt</a>.
	</div>
</div>
</body>

</html>