<!DOCTYPE html>

<html lang="en">

<head>
<title>##SITE-NAME## | ##NAME##</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/reset.css" media="screen"  charset="utf-8">
<link rel="stylesheet" href="../css/theme.css" media="screen"  charset="utf-8">
</head>


<!--[if lt IE 7 ]> <body class="ie6 "> <![endif]--> 
<!--[if IE 7 ]>    <body class="ie7 "> <![endif]--> 
<!--[if IE 8 ]>    <body class="ie8 "> <![endif]--> 
<!--[if !IE]>-->   <body class="">    <!--<![endif]-->
  
<!-- wondering wtf that ^^^ is? 
     check: http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
-->  
<div id="wrapper">
	<div id="banner">
		<h1 class="logo">
			<a href="./"><span><!-- BEGIN:SITE-NAME -->Template<!-- END:SITE-NAME --></span></a>
		</h1>
	</div>
	<div id="navigation">
		<!-- BEGIN:NAVIGATION-LEVEL-1 -->
		<ul class="level-1">
			<li class="selected current" class="level-1">
				<a class="selected current" href="javascript:;">Latest news</a>
			</li>
			<li class="level-1">
				<a href="javascript:;">What it is</a>
			</li>
			<li class="level-1">
				<a href="javascript:;">How to use</a>
			</li>
			<li class="level-1">
				<a href="javascript:;">Get it now</a>
			</li>
		</ul>
		<!-- END:NAVIGATION-LEVEL-1 -->
	</div>
	<div id="content-wrapper">
		<div id="sub-navigation">
			<div id="navigation-breadcrumb">
				<!-- NAVIGATION-BREADCRUMB -->
			</div>
			<div id="navigation-children">
				<!-- NAVIGATION-LEVEL-2 -->
			</div>
		</div>
		<div id="content">
			<!-- BEGIN:CONTENT -->
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<!-- END:CONTENT -->
		</div>
	</div>
	


	
	<div id="footer">
		In here are a number of demos for code I've written or explained on <a href="http://paulirish.com">my blog</a>.

	</div>
	
</div>

<script>
  var _gaq=[['_setAccount','UA-692547-2'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>


</body>

</html>