/* -------- Base -------- */

body {
	background: #FFF;
	margin: 0;
}

/* -------- Wrapper -------- */

#wrapper {
}

/* -------- Banner -------- */

#banner {
	background: #000 url(../images/banner_bg.png);
	height: 98px;
	overflow: hidden;
}

/* -------- Logo -------- */

.logo {
	font-size: 32px;
	line-height: 147px;
	margin: 0 auto;
	padding: 0 2px;
	width: 940px;
}

.logo a {
	color: #EEE;
	text-decoration: none;
}

/* -------- Navigation -------- */

#navigation {
	background: #F3F3F3 url(../images/banner_bg.png) repeat-x 0 -98px;
	border-bottom: 1px solid #CCC;
	font-size: 14px;
	height: 28px;
	line-height: 28px;
	margin-bottom: 22px;
	padding-top: 22px;
}

#navigation ul {
	margin: 0 auto;
	width: 940px;
}

#navigation li {
	float: left;
	list-style-type: none;
	margin: 0;
}

#navigation a {
	color: #555;
	display: block;
	float: left;
	padding: 0 30px 0 0;
	text-decoration: none;
}

#navigation a:hover {
	color: #F00;
}

#navigation a.selected {
	border-bottom: 1px solid #000;
	color: #000;
}

/* -------- Content-Wrapper -------- */

#content-wrapper {
	color: #454545;
	font: 12px/1.5 Arial, Helvetica, sans-serif;
	margin: 0 auto;
	min-height: 100px;
	width: 940px;
}

#content-wrapper a {
	color: #000;
	text-decoration: none;
}

#content-wrapper a:hover {
	color: #08C;
}

/* -------- Footer -------- */

#footer {
	height: 30px;
	padding: 20px;
	text-align: right;
}

/* -------- Sub-Navigation -------- */

#sub-navigation {
	height: 30px;
}

#navigation-breadcrumb {
	float: left;
}

#navigation-children {
	float: right;
}

#navigation-children ul {
	float: right;
	padding: 0;
}

#navigation-children li {
	float: left;
	list-style-type: none;
}

#navigation-children a.selected {
	text-decoration: underline;
}